@import "typography";
@import "react-slick.scss";

body{
  font-family: "Inter";
  min-height: 100vh;
  //background: rgb(56,62,152);
  //background: radial-gradient(circle, rgba(56,62,152,1) 0%, rgba(13,20,72,1) 100%);
}

.radial-bg{
  position: fixed;
  width: 100%;
  min-height: 100vh;
  background: rgb(56,62,152);
  background: radial-gradient(circle, rgba(56,62,152,1) 0%, rgba(13,20,72,1) 100%);
  top: 0;
  z-index: -10;
}

.slick-list{ padding-left: 10% ; cursor: grab; }

// Team members
.team-members__slider{
  figcaption{
    opacity: 0;
    transition: 0.6s all;
  }
  &--vip{
    figure{
      position: relative;
      &:before{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        opacity: 0.2;
        z-index: 1;
        border-radius: 1.5rem;
        overflow: hidden;
        animation: holoGradient 15s ease infinite;
        background-image: linear-gradient(115deg, transparent 0%, transparent 25%, rgba(0, 231, 255, 0.7) 45%, rgba(255, 0, 231, 0.7) 55%, transparent 70%, transparent 100%);
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 200% 200%;
        mix-blend-mode: color-dodge;
        will-change: auto;
      }
      &:after{
        content: "";
        background-image: url('/assets/images/ui/sparkles.gif');
        background-position: center;
        background-size: 180%;
        mix-blend-mode: color-dodge;
        border-radius: 1.5rem;
        opacity: 0.1;
        z-index: 2;
        animation: holoSparkle 5s ease infinite;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        will-change: auto;
      }
    }
  }
  .slick-track{
    padding: 40px 0;
  }
  .slick-current{
    transform: scale(1.2);
    transition: 0.3s all;
    will-change: auto;
    .team-members__slider, .team-members__slider--vip{
      figure{
      }
      figcaption{
        opacity: 1!important;
        transition: 0.3s all;
      }
    }
  }

}

// trump
.latest-drops--view-all{
  width: 279.93px!important;
  height: 463.99px;
}

// coin stack
.coin-stack{
  position: relative;
  display: inline-block;
  margin: 30px 0!important;
  min-height: 120px;
  width: 100px;
  margin-right: 20px;
  .coin{
    &:first-child{
      bottom: 0;
    }
    &:nth-child(2){
      bottom: 6px;
    }
    &:nth-child(3){
      bottom: 12px;
    }
    &:nth-child(4){
      bottom: 18px;
    }
    &:nth-child(5){
      bottom: 24px;
    }
    &:nth-child(6){
      bottom: 30px;
    }
    &:nth-child(7){
      bottom: 36px;
    }
    &:nth-child(8){
      bottom: 42px;
    }
    &:nth-child(9){
      bottom: 48px;
    }
    &:nth-child(10){
      bottom: 54px;
    }
    &:nth-child(11){
      bottom: 60px;
    }
    &:nth-child(12){
      bottom: 66px;
    }
  }
}
.coin{
  height: 75px;
  width: 100px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  box-shadow: inset 0px -5px 1px 0px rgba(0,0,0,0.3);
  position: absolute;
  &:after{
    content:"";
    background: url('/assets/images/token-logo.png');
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: 50px 53px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &.legend{
    height: 40px;
    width: 40px;
    box-shadow: none;
    position: relative;
    &:after{
      background-size: 25px;
      background-position: center;
    }
  }
  &.error{
    background-color: #F56D6D;
    &.five-b{
      background-color: darken(#F56D6D,5%);
      border: 1px solid #F56D6D;
    }
    &.one-b{
      background-color: darken(#F56D6D,10%);
      transform: scale(0.6);
    }
  }
  &.five-b{
    background-color: #373c4d;
    border: 1px solid lighten(#20263a, 20%);
    transform: scale(0.8);
  }
  &.ten-b{
    background-color: #F5AB6D;
    transform: scale(0.8);
  }
  &.one-b{
    background-color: #5C5AAB;
    transform: scale(0.6);
  }
}

// Emulator
$veveBlue: #11CEF1;
$veveLightGrey: #4F4F4F;
$veveDarkGrey: #2D2D2D;
.device{
  margin: 20px 0;
  width: 352px;
  background: #2D2D2D;
  overflow: hidden;
  border-radius: 40px;
  .text-xxs{ font-size: 11px;}
  &__header{
    padding: 15px 20px 10px 20px;
    &-button{
      text-align: center;
      transition: 0.6s all;
      position: relative;
      &:hover{
        transition: 0.3s all;
        color: $veveBlue;
      }
      .bag-counter{
        background: #4F4F4F;
        position: absolute;
        font-size: 12px;
        line-height: 12px;
        color: $veveBlue;
        padding: 1px 4px;
        left: -20px;
        bottom: 0;
        border-radius: 2px;
      }
      img{
        width: auto;
        height: auto;
        &.search{
          width: 20px;
        }
        &.bag{
          width: 15px;
          margin-right: 20px;
        }
      }
    }
    &-img{
      width: 17px;
      margin: auto;
      height: 17px;
    }
    &-logo{
      width: 90px;
    }
  }
  &__content{
    background: #4F4F4F;
    height: 630px;
  }
  &__footer{
    padding: 10px 20px;
    &-button{
      text-align: center;
      width: 100%;
      transition: 0.6s all;
      &:hover{
        transition: 0.3s all;
        color: $veveBlue;
      }
      &:focus{
        outline: none;
      }
      &.active{
        .device__footer-title{
          color: $veveBlue;

        }
      }
    }
    &-img{
      width: 17px;
      margin: auto;
      height: 17px;
    }
    &-title{
      margin-top: 3px;
      display: block;
    }
  }
}

.w-500{
  width: 500px;
}

.veve-light-grey{
  color: $veveLightGrey;
}

.veve-light-grey-bg{
  background: $veveLightGrey;
}

.device__screen--collection{
  .collection-controls{
    .controller{
      background: rgb(201,201,201);
      background: radial-gradient(circle, #ccc 30%, rgba(153,153,153,1) 100%);
      span{
        background: #1E1E1E;
        margin-top: 22px;
      }
    }
  }
  .ar-options{
    color: #fff;
    text-align: center;
    opacity: 0.7;
    margin-top: 35px;
    .ar-icon, .plus-icon, .camera-icon{
      height: 35px;
      width: 35px;
      border-radius: 50%;
      background: #333;
      margin: auto;
    }
    .ar-icon{
      font-size: 14px;
      line-height: 33px;
      font-weight: 600;
    }
    .camera-icon{
      height: 40px;
      width: 40px;
      padding: 10px 0;
      img{
        width: 23px;
        margin: auto;
      }
    }
    .plus-icon{
      font-size: 36px;
      line-height: 24px;
      font-weight: 300;
    }
  }
}

.device{ cursor: grab; }

.feed{
  &-tags{
    button{
      background: #424242;
    }
  }
  &-post{
    &__header{
      background: $veveDarkGrey;
      vertical-align: middle;
      align-items: center;
      display: flex;
      border-radius: 10px 10px 0 0;
    }
    &__avatar{
      border: 1px solid #ccc;
    }
    &__author{
      color: $veveBlue;
      margin-right: 5px;
    }
    &__counter{
      background: $veveLightGrey;
    }
    &__comment{
      background: #cacaca;
    }
    &__footer{
      background: #cacaca;
    }
  }
}

.rec.rec-arrow {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  overflow: hidden;
  min-width: 24px;
  background: transparent;
  min-height: 24px;
  font-size: 12px;
  line-height: 24px;
  color: #8c8c8c;
  &:hover{
    color: #8c8c8c;
    background: transparent;
  }
}
/* hide disabled buttons */
.rec.rec-arrow:disabled {
  visibility: hidden;
}
// Gem
.gem-svg{
  display: inline-block;
  margin-top: 1px;
  .st0{fill:#D5D5D7;}
  .st1{fill:#80D5F8;}
  .st2{fill:#61C0F6;}
  .st3{fill:#85DCFC;}
  .st4{fill:#379BF1;}
  .st5{fill:#2684EC;}
  .st6{fill:#ada5ea;}
  .st7{fill:#5757A0;}
}

// Bubbles
.bubble {
  background-color: white;
  background-image: url(/assets/images/spritesheet.png);
  background-size: 1076px 1076px;
  border-radius: 50%;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1), 0 3px 10px rgba(0, 0, 0, 0.1);
  height: 152px;
  margin-right: 20px;
  position: absolute;
  transition: opacity ease-in-out 1s;
  width: 152px;
  // TODO: Add links to bubbles, create pages and api and write articles for brands and show any available collectibles.
  //&:hover{
  //  box-shadow: 1px 1px 1px 1px red;
  //  transition: 0.3s all;
  //}
}

.bubbles {
  height: 600px;
  overflow: hidden;
  position: relative;
}

.bubbles-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

// test
.veve-intro{
  border-top: 3px solid #ccc;
  border-bottom: 5px solid #ccc;
}

// Collectible Cards
.collectible__card{
  position: relative;
  &--sold-out{
    animation: flicker 3s ease infinite;
  }
  .card-fx{
    animation: holoCard 15s ease infinite;
    &:before, &:after{
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      opacity: 0.2;
      z-index: 1;
      border-radius: 10px;
      overflow: hidden;
    }
    &--common{
    }
    &--uncommon{
      &:after{
        content: "";
        background-image: url("/assets/images/ui/sparkles.gif");
        background-position: center;
        background-size: 180%;
        mix-blend-mode: color-dodge;
        border-radius: 10px;
        opacity: 1;
        z-index: 50;
        animation: holoSparkle 5s ease infinite;
      }
    }
    &--rare, &--ultra_rare, &--secret_rare{
      &:before, &:after{
        background-image: linear-gradient(115deg, transparent 0%, rgb(0, 231, 255) 30%, rgb(255, 0, 231) 70%, transparent 100%);
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 200% 200%;
        mix-blend-mode: color-dodge;
      }
      &:before{
        opacity: 0.6;
        animation: none;
        transition: none;
        background-image: linear-gradient(115deg, transparent 0%, transparent 25%, rgba(0, 231, 255,0.7) 45%, rgba(255, 0, 231,0.7) 55%, transparent 70%, transparent 100%
        );
      }
      &:after{
        background-image: url("/assets/images/ui/sparkles.gif");
        background-position: center;
        background-size: 180%;
        mix-blend-mode: color-dodge;
        border-radius: 10px;
        opacity: 1;
        z-index: 2;
        animation: holoSparkle 5s ease infinite;
      }
    }
    &--ultra_rare{
      &:before{
        animation: holoGradient 15s ease infinite;
      }
    }
    &--secret_rare{
      &:before{
        animation: holoGradient 3s ease infinite;
      }
      &:after{
        animation: none;
      }
    }
  }
  figure{
    img{
      transform: scale(1.09);
    }
  }

}

// Animations
@keyframes holoSparkle {
  0%, 5% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes holoGradient {
  0%, 100% {
    opacity: 0;
    background-position: 0% 0%;
  }
  8% {
    opacity: 0;
  }
  10% {
    background-position: 0% 0%;
  }
  19% {
    background-position: 100% 100%;
    opacity: 0.5;
  }
  35% {
    background-position: 100% 100%;
  }
  55% {
    background-position: 0% 0%;
    opacity: 0.3;
  }
  75% {
    opacity: 0;
  }
}

@keyframes holoCard {
  0%, 100% {
    transform: none;
  }
  25% {
    transform: rotateZ(-3deg) rotateX(-7deg) rotateY(6deg);
  }
  66% {
    transform: rotateZ(3deg) rotateX(7deg) rotateY(-6deg);
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: .9;
  }

  6% {
    opacity: .85;
  }

  8% {
    opacity: .95;
  }

  10% {
    opacity: .90;
  }

  11% {
    opacity: .922;
  }

  12% {
    opacity: .9;
  }

  14% {
    opacity: .95;
  }

  16% {
    opacity: .98;
  }

  17% {
    opacity: .9;
  }

  19% {
    opacity: .93;
  }

  20% {
    opacity: .99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: .94;
  }

  28% {
    opacity: .98;
  }

  37% {
    opacity: .93;
  }

  38% {
    opacity: .5;
  }

  39% {
    opacity: .96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: .97;
  }

  46% {
    opacity: .94;
  }

  56% {
    opacity: .9;
  }

  58% {
    opacity: .9;
  }

  60% {
    opacity: .99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: .9;
  }

  72% {
    opacity: .95;
  }

  93% {
    opacity: .93;
  }

  95% {
    opacity: .95;
  }

  97% {
    opacity: .93;
  }

  to {
    opacity: 1;
  }
}
