body{
  background: #0E1032;
  background-image: url('/assets/images/ui/texture.png');
  background-size: 20%;
}

.texture-bg{
  background-image: url('/assets/images/ui/texture.png');
}

.ecomi__blue--radial-bg{
  height: 100%;
  width: 100%;
  top: 0;
  background: radial-gradient(circle, rgba(14,16,50,1) 0%, rgba(0,212,255,0) 100%);
  background: radial-gradient(circle, rgba(37,41,106,1) 0%, rgba(0,212,255,0) 100%);
  background-blend-mode: multiply;
  z-index: -1;
  opacity: 0.8;
}

.st0{fill:#464878;}
.st1{fill:none;stroke:#464878;stroke-width:3;stroke-miterlimit:10;}



.omg{
  position: relative;
  &:before, &:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0.2;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
  }
  &:after{
    background-image: url("/assets/images/ui/sparkles.gif");
    background-position: center;
    background-size: 180%;
    mix-blend-mode: color-dodge;
    border-radius: 10px;
    opacity: 1;
    z-index: 2;
    animation: holoSparkle 15s ease infinite;
  }
}

.rec-item-wrapper { display: flex; align-items: center; }

.display-linebreak {
  white-space: pre-line;
}